<shared-header title="Recuperar Contraseña" [routeBackButton]="routeBackButton"></shared-header>

<ion-content>
  <div class="d-flex-center">
    <form [formGroup]="form" class="auth-form" (ngSubmit)="onSubmit()">
      <shared-logo></shared-logo>
      <p class="ion-text-center">Le enviaremos un email para que pueda restablecer su contraseña</p>

      <shared-custom-input
        icon="mail-outline"
        autocomplete="email"
        label="Correo"
        type="email"
        [control]="form.controls.email"
      ></shared-custom-input>
      <shared-error-field
        [control]="form.controls.email"
        [errorMessages]="validationMessages.email"
      />

      <ion-button
        type="submit"
        [disabled]="form.invalid"
        class="submit"
        expand="block"
        mode="ios"
      >
        Recuperar
        <ion-icon slot="end" name="arrow-forward"></ion-icon>
      </ion-button>
    </form>
  </div>
</ion-content>
